.background{
	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-position:  center;
 	-fx-background-size: cover;
 	-fx-background-color: white;
 }
 
 .icon_button{
 	
 	-fx-min-width: 25;
 	-fx-min-height: 25;
 	-fx-background-color: transparent;
 	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-size: 25 25;
 	-fx-background-position: center;
 }
 
 #addButton{
 	-fx-background-image: url(addIcon.png);
 }
 
 #addButton:hover{
 	-fx-background-image: url(addIconHover.png);
 }
 #addButton:pressed{
 	-fx-background-image: url(addIconPressed.png);
 }
 
 
 #removeButton{
 	-fx-background-image: url(delIcon.png);
 }
 
 #removeButton:hover{
 	-fx-background-image: url(delIconHover.png);
 }
 
 #removeButton:pressed{
 	-fx-background-image: url(delIconPressed.png);
 }
 
 #grau{
 	-fx-background-color: #bdbdbd;
 }
 
 #rot{
 	-fx-background-color: #ff5252;
 }
 
 #orange{
 	-fx-background-color: #FFA500;
 }
 #green{
 	-fx-background-color: #9ccc65;
 }
 #gelb{
 	-fx-background-color: #e6e64d;
 }