
.background{
	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-position:  center;
 	-fx-background-size: cover;
 	-fx-background-color: white;
 }
 
 #grau{
 	-fx-background-color: #bdbdbd;
 }
 
 #rot{
 	-fx-background-color: #ff5252;
 }
 
 #orange{
 	-fx-background-color: #FFA500;
 }
 #green{
 	-fx-background-color: #9ccc65;
 }